* {
  box-sizing: border-box;
}

html,
body {
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  min-height: 1280px;
  font-weight: 300;
  font-size: 12px;
  color: #2a2a2a;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 300;
}

a,
a:visited,
a:hover {
  color: blue;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

#h4 {
  margin: 10px;
  text-align: center;
}

#h1 {
  font-weight: bold;
}

#intro {
  max-width: 80rem;
  margin: 1.5rem auto;
  text-align: center;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}

.intro__p {
  margin-top: 30px;
  text-justify: newspaper;
}

.intro__overline {
  font-size: 1.4rem;
}

.intro__hed {
  font-size: 2rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.05em;
}

.intro__dek {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

/* demo */

#intro {
  margin-bottom: 80px;
}

#outro {
  margin-top: 50px;
  height: 400px;
  text-align: center;
}
#last {
  font-size: 30px;
  margin-bottom: 20px;
}

/* scrollama */

#scroll {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin-left: 1%;
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
}

#scroll > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.scroll__graphic {
  position: sticky;
  position: -webkit-sticky;
  bottom: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 1000px;
  width: 1150px;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(5%)
  
}

#vend1 {
  margin-bottom: 30px; 
}

#vend2 {
  margin-bottom: 30px;
}


.scroll__text {
  
position: relative;
  padding: 0 1rem;
  max-width: 30rem;

}

.step {
  margin: 2rem auto;

}

.step.is-active {
  background-color: rgba(214, 234, 254, 0.582);
  padding: 10px;
}

.step p {
  padding: 1rem;
  font-size: 2.5rem;
}

#data {
  margin-bottom: 15px;
  margin-top: 15px;
}
